@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";

    Layout = "~/Pages/Shared/_AuthLayout.cshtml";

}




<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

               
                <div class="d-flex justify-content-center py-4">
                    <a href="index.html" class="logo d-flex align-items-center w-auto">
                        <img src="~/book.jpg" alt="">
                        <span class="d-none d-lg-block">Library Management System</span>
                    </a>
                </div><!-- End Logo -->

                <div class="card mb-3">
                    <form class="mx-1 mx-md-4" id="account" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="card-body">

                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                                
                            </div>

                            <br />

                            <div class="row">
                                <div class="col-3">
                                    <label for="yourUsername" class="form-label">Email</label>
                                </div>
                                <div class="col-9">

                                    <input asp-for="Input.Email" class="form-control" id="form3Example1c" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                </div>

                                <br />

                            <div class="row">
                                <div class="col-3">
                                    <label for="yourPassword" class="form-label">Password</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="Input.Password" id="form3Example4c" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                            </div>

                        </div>

                        <div class="col-12">
                            <div class="form-check">
                                <label asp-for="Input.RememberMe" class="form-label">
                                    <input class="form-check-input form-check-input me-2" asp-for="Input.RememberMe" id="form2Example3c" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <br />

                       
                        <div class="col-12">
                            <button class="btn btn-primary w-100" type="submit">Login</button>

                        </div>
                        <hr />

                        <div class="col-12">
                            Don't' have an account? 
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="link-danger">Register</a>

                        </div>
                        <br />
                    </form>

                </div>
            </div>

      

        </div>
    </div>


</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

