@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Pages/Shared/_AuthLayout.cshtml";
}

<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              

                <div class="d-flex justify-content-center py-4">
                    <a href="/Index" class="logo d-flex align-items-center w-auto">
                        <img src="~/book.jpg" alt="">
                        <span class="d-none d-lg-block">Library Management System</span>
                    </a>
                </div><!-- End Logo -->

              <div class="card mb-3">
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="mx-1 mx-md-4">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                   
                  </div>
                            <div class="row">

                      <div class="col-3">
                                    <label for="yourName" class="form-label">Email</label>
                      </div>
                                <div class="col-9">

                                    <input asp-for="Input.Email" class="form-control" id="form3Example1c" autocomplete="username" aria-required="true" placeholder="Example@gmail.com" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                  </div>
                  <br />
                  <div class="row">
                                <div class="col-3">
                                    <label for="yourName" class="form-label">Firstname</label>
                                </div>

                                <div class="col-9">

                                    <input asp-for="Input.FirstName" class="form-control" id="form3Example1c" autocomplete="username" aria-required="true" placeholder="Firstname" />
                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                </div>
                  </div>
                            <br />

                            <div class="row">
                                <div class="col-3">
                                    <label for="yourName" class="form-label">Lastname</label>
                                </div>
                                <div class="col-9">

                                    <input asp-for="Input.LastName" class="form-control" id="form3Example1c" autocomplete="username" aria-required="true" placeholder="Lastname" />
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-3">
                                    <label for="yourName" class="form-label">Phone</label>
                                </div>
                                <div class="col-9">

                                    <input asp-for="Input.Phone" class="form-control" id="form3Example1c" autocomplete="username" aria-required="true" placeholder="Phone" />
                                    <span asp-validation-for="Input.Phone" class="text-danger"></span>
                                </div>
                            </div>

                            <br />
                            <div class="row">
                                <div class="col-3">
                                    <label for="yourName" class="form-label">Password</label>
                                </div>
                                <div class="col-9">

                                    <input asp-for="Input.Password" class="form-control" id="form3Example1c" autocomplete="username" aria-required="true" placeholder="Password" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>

                                </div>

                            </div>
                            <br />

                            <div class="row">
                                <div class="col-3">
                                    <label for="yourName" class="form-label">Confirm Password</label>
                                </div>
                                <div class="col-9">

                                    <input asp-for="Input.ConfirmPassword" class="form-control" id="form3Example1c" autocomplete="username" aria-required="true" placeholder="Confirm Password" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <hr />
                    <div class="row">
                                <div class="col-12">
                                    <div class="form-check">

                                       
                                            <input class="form-check-input" asp-for="Input.Terms" />
                                            <span asp-validation-for="Input.Terms" class="text-danger"></span>
                                            @Html.DisplayNameFor(m => m.Input.Terms)
                                        <br />
                                        I agree all statements in Terms of service
                                    </div>
                                </div>
                    </div>
    
                    </div>

                    <div class="col-12">
                      <button class="btn btn-primary w-100 " type="submit">Create Account</button>
                    </div>

                    <br />

                    <div class="col-12">
                            <p class="small mb-0">
                                Already have an account? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl"
                                                            class="link-danger">Login</a>
                            </p>
                    </div>

                    <br />

                  </form>

                </div>
              </div>

             

            </div>
          </div>
        

      </section>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
