@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Pages/Shared/_AuthLayout.cshtml";
}



<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
                                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="mx-1 mx-md-4">
                             
                                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                    
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">    
                                            <input asp-for="Input.FirstName" class="form-control" id="form3Example1c" autocomplete="username" aria-required="true" placeholder="Firstname" />
                                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input asp-for="Input.LastName" class="form-control" id="form3Example1c" autocomplete="username" aria-required="true" placeholder="Lastname" />
                                            <span asp-validation-for="Input.LastName" class="text-danger"></span>

                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input asp-for="Input.Phone" class="form-control" id="form3Example1c" autocomplete="username" aria-required="true" placeholder="Phone" />
                                            <span asp-validation-for="Input.Phone" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input asp-for="Input.Email" class="form-control" id="form3Example1c" autocomplete="username" aria-required="true" placeholder="Example@gmail.com" />
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input asp-for="Input.Password" class="form-control" id="form3Example1c" autocomplete="username" aria-required="true" placeholder="Password" />
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input asp-for="Input.ConfirmPassword" class="form-control" id="form3Example1c" autocomplete="username" aria-required="true" placeholder="Confirm Password" />
                                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>

                                  

                                    <div class="form-check d-flex justify-content-center mb-5">
                                       
                                      
                                        <label asp-for="Input.Terms" class="form-label" id="form2Example3c">
                                            <input class="form-check-input" asp-for="Input.Terms" />
                                            @Html.DisplayNameFor(m => m.Input.Terms)
                                        </label>
                                        I agree all statements in Terms of service

                                    </div>

                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="submit" id="registerSubmit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-sm">Register</button>
                                        
                                    </div>

                                    <button role="button" href="/" data-mdb-button-init data-mdb-ripple-init class="btn btn-danger btn-sm w-100"
                                            style="padding-left: 2.5rem; padding-right: 2.5rem;">
                                        Cancel
                                    </button>
                                    <h4 class="small fw-bold mt-2 pt-1 mb-0">
                                        Already have an account? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl"
                                                                    class="link-danger">Login</a>
                                    </h4>

                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="https://cdn.apartmenttherapy.info/image/upload/f_auto,q_auto:eco,c_fit,w_730,h_487/at%2Fhouse%20tours%2F2023-House-Tours%2F2023-August%2Fmichael-s%2Ftours-new-york-michael-s-10.webp"
                                     class="img-fluid" alt="Sample image">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
